<!DOCTYPE html>
<html>
    <head>
        <title>Expense Breakdown</title>
        <link type="text/css" rel="stylesheet" href="/styles/styles.css" />
        <script src="/scripts/scripts.js" type="text/javascript"></script>
        <meta name="keywords" content="expenses,budgeting,pie chart,monthly expenses,rent,bills,utilities,money" />
    </head>
    <body>
    <div>
        <h1 class="nav">Expense Breakdown</h1>
        <br /><br />
        <div class="middle">
            <p class="lead">Get your breakdown started by clicking the button below</p>
            <br />
                <a class="btn clickable align-link" href="/breakdown" role="button">Do it</a>
        </div>
    </div>
    </body>
</html>